// top-color //
$top-black: #020202;
$accent-text: #888888;
$wihte: #FFFFFF;
$grey: #C4C4C4;
$black: #000000;
// top-color //

//top-fonts//
$RobotoCondensed: 'RobotoCondensed', sans-serif;
$PTSerif: 'PTSerif', sans-serif;
//top-fonts//